@import "layout.css";
@import "tango.css";

@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|IBM+Plex+Sans|IBM+Plex+Serif');

/* Font settings */

.header,h1,h2,h3,h4,h5,h6 {
    font-family: 'IBM Plex Serif', serif;
}

body {
	  font-family: 'IBM Plex Sans', sans;
}

/* Source code styling */
.sourceCode {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1em;
}

pre.sourceCode {
    margin: 1em !important;
}
