/* -----------------------
Base styles
------------------------*/

html {
    overflow-y: scroll;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
	  padding: 0;
	  color: #333;
}

h1,h2,h3,h4,h5,h6 {
    margin: 1.5em 0 .5em;
    font-weight: 500;
    line-height: 1.1;
}

h1 { font-size: 1.75em;  } /* 28px */
h2 { font-size: 1.375em; } /* 22px */
h3 { font-size: 1.125em; } /* 18px */
h4 { font-size: 1em;     } /* 16px */
h5 { font-size: 0.875em; } /* 14px */
h6 { font-size: 0.5em;   }

p {
	  margin: 0 0 0.5em;
	  line-height: 1.5;
}

blockquote {
    padding: 1em 2em;
    margin: 0 0 1em;
    border-left: 5px solid #22222277;
}

hr {
    height: 0;
    margin-top: 1em;
    margin-bottom: 2em;
    border: 0;
    border-top: 1px solid #ddd;
}

table {
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
    margin: 0 0 1em;
}

th, td {
    padding: .5em 1em;
    vertical-align: top;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

ul {
    padding-left: 1em;
}

a:link { color: #222222; }
a:visited { color: #222222; }
a:focus { color: #222222; }
a:hover { color: #204a87; }
a:active { color: #222222; }


/* -----------------------
Layout styles
------------------------*/

.container {
    max-width: 50em;
    margin: 0 auto;
}

.header {
    background: #204a87;
    color: #fff;
    padding: 0.75em 2em;
}

.header-heading {
    margin: 0;
}

.italic-subheader {
    font-style: italic;
    color: #222222;
    padding: 1em 0;
}

.nav-bar {
    background: #222222;
    padding: 0;
}

.content {
    flex: 1;
    padding: 1em 2em;
    background-color: #fff;
}

.footer {
    color: #fff;
    background: #222222;
    text-align: center;
    padding: 0.5em 1.25em;
}

.footer a {
    color: white;
}

.main ul li {
    list-style: none;
}

.main li::before {
    /* content: ' '; */
    font-weight: 900;
    /* font-family: monospace; */
    /* content: "âº "; */
    color: #22222277;
}

.justified {
    text-align: justify;
    text-justify: inter-word;
}

.noborder {
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  padding: 0px;
}

/* -----------------------
Nav
------------------------*/

.nav {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    display: inline;
    margin: 0;
}

.nav a {
    display: block;
    padding: 0.5em 2em;
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #222222;
}

.nav a:link { color: white; }
.nav a:visited { color: white; }

.nav a:focus {
    color: black;
    background-color: white;
}

.nav a:hover {
    color: #ccc;
}

.nav a:active {
    color: white;
}

/* -----------------------
Single styles
------------------------*/

.img-responsive {
    max-width: 100%;
}

.btn {
    color: #fff !important;
    background-color: royalblue;
    border-color: #222;
    display: inline-block;
    padding: .5em 1em;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    vertical-align:
    middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: .2em;
    text-decoration: none;
}

.btn:hover {
    color: #fff !important;
    background-color: green;
}

.btn:focus {
    color: #fff !important;
    background-color: black;
}

.btn:active {
    color: #fff !important;
    background-color: red;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}

.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

/* -----------------------
Wide styles
------------------------*/

@media (min-width: 42em) {
	  .header {
        padding: 0.75em 2em;
    }
	  .nav-bar {
        padding: 0.5em 2em;
    }
	  .content {
        padding: 2em 2em;
    }

	  .nav li
	  {
		    display: inline;
		    margin: 0 1em 0 0;
	  }

	  .nav a
	  {
		    display: inline;
		    padding: 0;
		    border-bottom: 0;
	  }
}
