@import "pico.min.css";
@import "breezedark.css";

/* Red Light scheme (Default) */
/* Can be forced with data-theme="light" */
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --primary: #e53935;
  --primary-hover: #d32f2f;
  --primary-focus: rgba(229, 57, 53, 0.125);
  --primary-inverse: #FFF;
}

/* Red Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme="light"]) {
    --primary: #e53935;
    --primary-hover: #f44336;
    --primary-focus: rgba(229, 57, 53, 0.25);
    --primary-inverse: #FFF;
  }
}

/* Red Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] {
  --primary: #e53935;
  --primary-hover: #f44336;
  --primary-focus: rgba(229, 57, 53, 0.25);
  --primary-inverse: #FFF;
}

/* Red (Common styles) */
:root {
  --form-element-active-border-color: var(--primary);
  --form-element-focus-color: var(--primary-focus);
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);
  --spacing: 0.5rem;
  --border-radius: 0rem;
}


/* :root { */
  /* --primary: #e53935; */
/* } */

h2 a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --typography-spacing-vertical: 0.5rem;
}

article {
  --block-spacing-horizontal: calc(var(--spacing)*4);
}

pre,
div.sourceCode {
  background-color: #0d1419;
}

#links,
#burger {
  display: none;
}